<details *ngIf="about">
    <summary title="O aplikaci...">{{about.name}} / {{about.backend.full | unavailable}} / {{about.frontend.full | unavailable}}</summary>
    <dl>
        <dt i18n>Backend version</dt>
        <dd>{{about.backend.full | unavailable}}</dd>
        <dt i18n>Frontend version</dt>
        <dd>{{about.frontend.full | unavailable}}</dd>
        <dt i18n>Angular version</dt>
        <dd>{{about.angular.full}}</dd>
        <dt i18n>User agent</dt>
        <dd>{{about.navigator.userAgent}}</dd>
        <dt i18n>Visual viewport</dt>
        <dd>{{about.viewport?.width}} x {{about.viewport?.height}} px</dd>
        <dt i18n>Locale</dt>
        <dd>{{about.locale}}</dd>
        <dt i18n>Base location</dt>
        <dd><a [href]="about.base.href">{{about.base.href}}</a></dd>
        <dt i18n>Current location</dt>
        <dd><a [href]="about.location.href">{{about.location.href}}</a></dd>
        <dt i18n>Started</dt>
        <dd>{{about.started | timestamp}}</dd>
        <dt i18n>Responsed</dt>
        <dd>{{about.responsed | timestamp | unavailable}}</dd>
    </dl>
</details>
