<h2>Adresa</h2>

<form #form="ngForm">
    <dl>
        <dt><label for="{{a}}country" required i18n>Stát</label></dt>
        <dd>
            <input type="text" id="{{a}}country" name="stat" #country="ngModel" autocomplete="country" required ngModel>
            <output required for="{{a}}country"></output>
        </dd>

        <dt><label i18n>Obec</label></dt>
        <dd>
            <input type="text" name="obec" autocomplete="city" ngModel>
        </dd>

        <dt><label i18n>Část obce</label></dt>
        <dd>
            <input type="text" name="castObce" ngModel>
        </dd>

        <dt><label i18n>Ulice</label></dt>
        <dd>
            <input type="text" name="ulice" autocomplete="street-address" ngModel>
        </dd>

        <dt><label i18n>Číslo domovní</label></dt>
        <dd>
            <input type="text" name="cisloDomovni" autocomplete="house-number" ngModel>
        </dd>

        <dt><label i18n>Číslo orientační</label></dt>
        <dd>
            <input type="text" name="cisloOrientacni" ngModel>
        </dd>

        <dt><label i18n>PSČ</label></dt>
        <dd>
            <input type="text" name="psc" autocomplete="postal-code" ngModel>
        </dd>
    </dl>

    <button type="submit">Doplnit adresu</button>
    <button type="reset">Obmovit údaje</button>
    <button type="clear">Smazat údaje</button>
</form>
