<nav>
    <ul>
        <li><a routerLink="/" i18n>Úvodní stránka</a></li>
        <li><a routerLink="/pravnicka-osoba" i18n>Právnická osoba</a></li>
        <li><a routerLink="/fyzicka-osoba" disabled i18n>Fyzická osoba</a></li>
        <li><a routerLink="/zmenovy-list" disabled i18n>Změnový list</a></li>
    </ul>
</nav>

<nav>
    <ul>
        <li><a routerLink="/load" i18n><i class="fa fa-folder-open"></i>Načíst údaje</a></li>
        <li><a routerLink="/save" i18n><i class="fa fa-download"></i>Uložit údaje</a></li>
    </ul>
</nav>
