<nav>
    <ul>
        <li><a routerLink="/">Úvodní stránka</a></li>
        <li><a routerLink="/pravnicka-osoba">Právnická osoba</a></li>
        <li><a routerLink="/fyzicka-osoba" disabled>Fyzická osoba</a></li>
        <li><a routerLink="/zmenovy-list" disabled>Změnový list</a></li>
    </ul>
</nav>

<nav>
    <ul>
        <li><a routerLink="/load"><i class="fa fa-folder-open"></i>Načíst údaje</a></li>
        <li><a routerLink="/save"><i class="fa fa-download"></i>Uložit údaje</a></li>
    </ul>
</nav>
