<main>
    <header>
        <h1 i18n>Elektronické podání</h1>

        <nav>
            <ul>
                <li><a routerLink="/"i18n>Úvodní stránka</a></li>
                <li><a routerLink="/adresa"i18n>Adresa</a></li>
                <li><a routerLink="/soubory"i18n>Soubory</a></li>
            </ul>
        </nav>
    </header>

    <router-outlet (activate)="activate($event)" (deactivate)="deactivate($event)"></router-outlet>

    <footer>
        <p><about-component [about]="app.about$ | async"></about-component></p>
    </footer>
</main>
