<section>
    <form *ngIf="content.entries as entries">
        <div class="grid gutterless">
            <div class="row bar">
                <div class="col-12">
                    <button *ngIf="!content.single" type="button" (click)="content.previous()" title="{{previousTitle}} (Alt-PgUp)"><b class="fa fa-fw fa-chevron-up"></b></button>
                    <button *ngIf="!content.single" type="button" (click)="content.select()" title="{{selectTitle}}">
                        <output *ngIf="content.current">{{content.current}}/</output><output>{{content.length}}</output>
                    </button>
                    <button *ngIf="!content.single" type="button" (click)="content.next()" title="{{nextTitle}} (Alt-PgDown)"><b class="fa fa-fw fa-chevron-down"></b></button>
                    <button *ngIf="!content.single" type="button" (click)="add()" title="{{addTitle}} (Alt-A)"><i class="fa fa-fw fa-plus"></i>{{addLabel}}</button>
                    <button type="button" (click)="$event.shiftKey ? removeAll() : remove()" title="{{removeTitle}} (Alt-R)"><i class="fa fa-fw fa-remove"></i>{{removeLabel}}</button>
                </div>
            </div>
            <div class="row gutterless" *ngIf="list">
                <div class="col-12">
                    <table class="readonly">
                        <thead>
                            <tr>
                                <th *ngIf="!content.single"><abbr title="Číslo">č.</abbr></th>
                                <ng-container *ngTemplateOutlet="header"></ng-container>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i = index; let item of entries" (dblclick)="content.select(i)" [class.over]="content.index === i">
                                <td *ngIf="!content.single" class="compact">
                                    <button type="button" (click)="content.select(i)" title="{{selectTitle}}">{{i + 1}}</button>
                                </td>
                                <ng-container *ngTemplateOutlet="body; context: {$implicit: item}"></ng-container>
                                <td class="compact">
                                    <button type="button" (click)="remove(i)" title="{{removeTitle}}"><b class="fa fa-remove"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>
