<nav>
    <ul>
        <li><a routerLink="../podnikatel">Podnikatel</a></li>
        <li><a routerLink="../zivnosti">Živnosti</a></li>
        <li><a routerLink="../statutarni-organ" disabled><abbr title="Statutární orgán">Stat. orgán</abbr></a></li>
        <li><a routerLink="../odpovedni-zastupci">Odpovědní zástupci</a></li>
        <li><a routerLink="../provozovny" disabled>Provozovny</a></li>
        <li><a routerLink="../ostatni">Ostatní</a></li>
        <li><a routerLink="../zmenove-listy">Změnové listy</a></li>
    </ul>
</nav>
