<nav>
    <ul>
        <li><a routerLink="../create..." (click)="create()" title="Vytvoření nového podání (Alt-N)">Nové podání</a></li>
        <li>
            <a routerLink="../load..." (click)="loadFile()" title="Načtení údajů podání ze souboru (Alt-O)">Načíst podání</a>
            <input type="file" accept="text/xml" #inputLoadFile hidden (change)="load($event.target)">
        </li>
        <li><a routerLink="../save..." (click)="save()" title="Uložení údajů podání do souboru (Alt-S)">Uložit podání</a></li>
        <li><a routerLink="../check..." (click)="check()" title="Kontrola údajů podání">Zkontrolovat údaje</a></li>
        <li><a routerLink="../close..." (click)="close()" title="Zavření zpracování podání (Alt-W)">Zavřít podání</a></li>
    </ul>
</nav>

<nav>
    <ul #links>
        <li><a routerLink="../podnikatel">Podnikatel</a></li>
        <li><a routerLink="../zivnosti">Živnosti</a></li>
        <li><a routerLink="../statutarni-organ" disabled><abbr title="Statutární orgán">Stat. orgán</abbr></a></li>
        <li><a routerLink="../odpovedni-zastupci" disabled>Odpovědní zástupci</a></li>
        <li><a routerLink="../provozovny" disabled>Provozovny</a></li>
        <li><a routerLink="../ostatni">Ostatní</a></li>
        <li><a routerLink="../zmenove-listy">Změnové listy</a></li>
    </ul>
</nav>
