<nav>
    <ul>
        <li><a routerLink="../podnikatel" i18n>Podnikatel</a></li>
        <li><a routerLink="../zivnosti" i18n>Živnosti</a></li>
        <li><a routerLink="../statutarni-organ" disabled i18n>Statutární orgán</a></li>
        <li><a routerLink="../odpovedni-zastupci" i18n>Odpovědní zástupci</a></li>
        <li><a routerLink="../provozovny" disabled i18n>Provozovny</a></li>
        <li><a routerLink="../ostatni" i18n>Ostatní</a></li>
        <li><a routerLink="../zmenovy-list" i18n>Změnový list</a></li>
    </ul>
</nav>
