<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Odpovědní zástupci</h2>
    -->
</header>

<section class="block">
    <form>
        <div class="grid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <thead>
                            <tr>
                                <th><abbr title="Číslo">č.</abbr></th>
                                <th width="40%">jméno</th>
                                <th width="40%">příjmení</th>
                                <th width="20%"><abbr title="datum narození">narození</abbr></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="items$ | async as items">
                            <tr *ngFor="let item of items; let index = index;">
                                <td>{{index + 1}}</td>
                                <td>{{item.jmeno}}</td>
                                <td>{{item.prijmeni}}</td>
                                <td>{{item.datumNarozeni}}</td>
                                <td>
                                    <button type="button" (click)="void" title="Odebrat odpovědného zástupce" class="compact"><i class="fa fa-fw fa-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <button type="button" (click)="void" title="Přidat odpovědného zástupce"><i class="fa fa-fw fa-plus"></i>Nový zástupce</button>
                </div>
                <div class="col-2 col-middle right">
                    <output title="Vybraný odpovědný zástupce">0 / 0</output>
                </div>
            </div>
        </div>
    </form>
</section>

<section>
    <form #form="ngForm">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h4>0<u>8</u> Odpovědný zástupce</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    <label>
                        <dfn>a) titul</dfn>
                        <input type="text" name="titulPred" ngModel disabled>
                    </label>
                </div>
                <div class="col-5">
                    <label>
                        <dfn>b) jméno</dfn>
                        <input type="text" name="jmeno" ngModel #accesskey8>
                    </label>
                </div>
                <div class="col-5">
                    <label>
                        <dfn>c) příjmení</dfn>
                        <input type="text" name="prijmeni" ngModel>
                    </label>
                </div>
                <div class="col-1">
                    <label>
                        <dfn>d) titul</dfn>
                        <input type="text" name="titulZa" ngModel disabled>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label>
                        <dfn>e) státní občanství</dfn>
                        <select name="statniObcanstvi" ngModel disabled>
                            <option value=""></option>
                        </select>
                    </label>
                </div>
                <div class="col-4">
                    <label>
                        <dfn>f) rodné příjmení</dfn>
                        <input type="text" name="rodnePrijmeni" ngModel disabled>
                    </label>
                </div>
                <div class="col-2">
                    <label>
                        <dfn>g) <abbr title="datum narození">narození</abbr></dfn>
                        <input type="text" name="datumNarozeni" ngModel>
                    </label>
                </div>
                <div class="col-2">
                    <label>
                        <dfn>h) rodné číslo</dfn>
                        <input type="text" name="rodneCislo" ngModel disabled>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>1<u>2</u> Ustanovení odpovědného zástupce pro předměty podnikání</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea rows="3" readonly title="Seznam předmětů podnikání">{{zivnosti}}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table>
                        <thead>
                            <tr>
                                <th><abbr title="Číslo">č.</abbr></th>
                                <th><input type="checkbox" title="Výběr předmětů podnikání" #accesskey2></th>
                                <th width="25%">kód živnosti</th>
                                <th width="75%">předmět podnikání</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="items$ | async as items">
                            <tr *ngFor="let item of items; let index = index;">
                                <td>{{index + 1}}</td>
                                <th><input type="checkbox" title="Výběr předmětu podnikání"></th>
                                <td>{{item.kod}}</td>
                                <td>{{item.nazev}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>
