<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Ostatní</h2>
    -->
</header>

<content-toolbar-component [content]="content" [header]="thead" [body]="tbody"
    toggleTitle="Zobrazení souhrnných údajů"
    removeTitle="Smazání ostatních údajů"
    removeLabel="Smazat údaje"
></content-toolbar-component>
<ng-template #thead>
    <th width="100%">ostatní údaje</th>
</ng-template>
<ng-template #tbody let-item>
    <td>{{item.ostatniUdaje}}</td>
</ng-template>

<section>
    <form #form="ngForm">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h3>Část B - Oznámení pracovního místa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Část C - Vyberte úřady, vůči kterým je podání učiněno</h3>
                </div>
            </div>
            <div class="row row-middle">
                <div class="col-3">
                    <label>
                        a)
                        <dfn>Živnostenský úřad</dfn>
                        <input type="checkbox" name="PodaniZU" ngModel>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" readonly>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        b)
                        <dfn>Finanční úřad</dfn>
                        <input type="checkbox" name="PodaniFU" ngModel>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" readonly>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        c)
                        <dfn>Úřad práce</dfn>
                        <input type="checkbox" name="PodaniPU" ngModel>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" readonly>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="readonly">
                        <thead>
                            <tr>
                                <th width="60%">název přílohy</th>
                                <th width="20%">typ</th>
                                <th width="20%">velikost</th>
                                <th><abbr title="Živnostenský úřad">ŽÚ</abbr></th>
                                <th><abbr title="Finanční úřad">FÚ</abbr></th>
                                <th><abbr title="Úřad práce">ÚP</abbr></th>
                                <th class="compact">
                                    <button type="button" title="Přidání nové elektronické přílohy"><b class="fa fa-plus"></b></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="[{}] as items">
                            <tr *ngFor="let item of items; let index = index;">
                                <td>{{item.nazev}}</td>
                                <td>{{item.typ}}</td>
                                <td>{{item.velikost}}</td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td class="compact">
                                    <button type="button" title="Odebrání elektronické přílohy" class="compact"><b class="fa fa-minus"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
        </div>
    </form>
</section>

<pre>
{{content.dirty}}
{{content.entry | json}}
</pre>
