<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Ostatní</h2>
    -->
</header>

<section>
    <form *ngIf="content.entries$ | async as items">
        <div class="grid gutterless">
            <div class="row bar">
                <div class="col-12">
                    <button type="button" (click)="content.toggle()" title="Zobrazení souhrnných údajů (Alt-L)">
                        <output *ngIf="content.index > -1">{{content.index + 1}}/</output><output>{{items.length}}</output>
                    </button>
                    <button type="button" (click)="remove(content.index)" title="Smazání ostatních údajů (Alt-R)"><i class="fa fa-fw fa-remove"></i>Smazat údaje</button>
                    <output [hidden]="!dirty" title="Upravené údaje..."><b class="fa fa-fw fa-asterisk"></b></output>
                </div>
            </div>
            <div class="row gutterless" [hidden]="content.hidden">
                <div class="col-12">
                    <table class="readonly">
                        <thead>
                            <tr>
                                <th width="100%">ostatní údaje</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items; let index = index;" (dblclick)="select(index)" [class.over]="content.index === index">
                                <td>{{item.ostatniUdaje}}</td>
                                <td class="compact">
                                    <button type="button" (click)="remove(index)" title="Smazání ostatních údajů"><b class="fa fa-remove"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>

<section>
    <form #form="ngForm">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h3>Část B - Oznámení pracovního místa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Část C - Vyberte úřady, vůči kterým je podání učiněno</h3>
                </div>
            </div>
            <div class="row row-middle">
                <div class="col-3">
                    <label>
                        a)
                        <dfn>Živnostenský úřad</dfn>
                        <input type="checkbox" name="PodaniZU" ngModel>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" readonly>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        b)
                        <dfn>Finanční úřad</dfn>
                        <input type="checkbox" name="PodaniFU" ngModel>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" readonly>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        c)
                        <dfn>Úřad práce</dfn>
                        <input type="checkbox" name="PodaniPU" ngModel>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" readonly>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="readonly">
                        <thead>
                            <tr>
                                <th width="60%">název přílohy</th>
                                <th width="20%">typ</th>
                                <th width="20%">velikost</th>
                                <th><abbr title="Živnostenský úřad">ŽÚ</abbr></th>
                                <th><abbr title="Finanční úřad">FÚ</abbr></th>
                                <th><abbr title="Úřad práce">ÚP</abbr></th>
                                <th class="compact">
                                    <button type="button" title="Přidání nové elektronické přílohy"><b class="fa fa-plus"></b></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="[{}] as items">
                            <tr *ngFor="let item of items; let index = index;">
                                <td>{{item.nazev}}</td>
                                <td>{{item.typ}}</td>
                                <td>{{item.velikost}}</td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td>
                                    <input type="checkbox">
                                </td>
                                <td class="compact">
                                    <button type="button" (click)="void" title="Smazání elektronické přílohy" class="compact"><b class="fa fa-remove"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
        </div>
    </form>
</section>

<pre>{{content.entry | json}}</pre>
