<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Ostatní</h2>
    -->
</header>

<content-toolbar-component [content]="content" [header]="thead" [body]="tbody" list
    removeTitle="Smazání ostatních údajů"
    removeLabel="Smazat údaje"
></content-toolbar-component>
<ng-template #thead>
    <th width="100%">přehled údajů</th>
</ng-template>
<ng-template #tbody let-item>
    <td>Elektronické přílohy: {{item.overview}}</td>
</ng-template>

<section *ngIf="content.entry as entry">
    <form #form="ngForm" *ngIf="entry.value as value">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h3>Část B - Oznámení pracovního místa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3>Část C - Vyberte úřady, vůči kterým je podání učiněno</h3>
                </div>
            </div>
            <div class="row row-middle" [ngModelGroup]="uradyPrilohy">
                <div class="col-3">
                    <label>
                        a)
                        <dfn>Živnostenský úřad</dfn>
                        <input type="checkbox" name="zu" [(ngModel)]="value.uradyPrilohy.zu">
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" name="zu" [value]="entry.pocetPriloh.zu" readonly>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        b)
                        <dfn>Finanční úřad</dfn>
                        <input type="checkbox" name="fu" [(ngModel)]="value.uradyPrilohy.fu">
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" name="fu" [value]="entry.pocetPriloh.fu" readonly>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        c)
                        <dfn>Úřad práce</dfn>
                        <input type="checkbox" name="up" [(ngModel)]="value.uradyPrilohy.up">
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>počet příloh</dfn>
                        <input type="text" size="3" name="up" [value]="entry.pocetPriloh.up" readonly>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="readonly">
                        <caption title="Počet a celková velikost elektronických příloh">
                            <small>{{files}}</small>
                        </caption>
                        <thead>
                            <tr>
                                <th width="100%">elektronická příloha</th>
                                <th><abbr title="Živnostenský úřad">ŽÚ</abbr></th>
                                <th><abbr title="Finanční úřad">FÚ</abbr></th>
                                <th><abbr title="Úřad práce">ÚP</abbr></th>
                                <th class="compact">
                                    <button type="button" (click)="input_file.click()" title="Výběr nové elektronické přílohy"><b class="fa fa-bars"></b></button>
                                    <input type="file" multiple accept="image/*, application/pdf" #input_file hidden (change)="addPriloha($event.target)">
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="entry.prilohy as items" ngModelGroup="prilohy">
                            <tr *ngFor="let i = index; let item of items; trackBy: trackHash" [ngModelGroup]="item.hash">
                                <td>
                                    <output-file routerLink="../open..." [file]="item.file" icon></output-file>
                                </td>
                                <td>
                                    <input type="checkbox" name="zu" ngModelGroup="uradyPrilohy" [(ngModel)]="item.value.uradyPrilohy.zu" [disabled]="!value.uradyPrilohy.zu">
                                </td>
                                <td>
                                    <input type="checkbox" name="fu" ngModelGroup="uradyPrilohy" [(ngModel)]="item.value.uradyPrilohy.fu" [disabled]="!value.uradyPrilohy.fu">
                                </td>
                                <td>
                                    <input type="checkbox" name="up" ngModelGroup="uradyPrilohy" [(ngModel)]="item.value.uradyPrilohy.pu" [disabled]="!value.uradyPrilohy.up">
                                </td>
                                <td class="compact">
                                    <button type="button" (click)="removePriloha(i)" title="Smazání elektronické přílohy" class="compact"><b class="fa fa-remove"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
        </div>
    </form>
</section>

<pre>
{{form?.dirty | booleric}}
{{content.entry | json}}
</pre>
