<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Právnická osoba</h2>
    -->
</header>

<content-toolbar-component [content]="content" [header]="thead" [body]="tbody" list
    removeTitle="Smazání údajů podnikatele"
    removeLabel="Smazat údaje"
></content-toolbar-component>
<ng-template #thead>
    <th width="75%">obchodní firma / název právnické osoby</th>
    <th width="25%"><abbr title="identifikační číslo osoby">IČO</abbr></th>
</ng-template>
<ng-template #tbody let-item>
    <td>{{item.state.nazev}}</td>
    <td>{{item.state.ico}}</td>
</ng-template>

<section *ngIf="content.entry as entry">
    <form #form="ngForm" *ngIf="entry.value as value">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h3>Část A - Podnikatel</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>01 Podnikatel</h4>
                    <!--
                    <invalid-component [control]="form.controls.podnikatel"></invalid-component>
                    -->
                </div>
            </div>
<ng-container ngModelGroup="podnikatel">
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>a) obchodní firma / název právnické osoby</dfn>
                        <input type="text" #inputNazev name="nazev" [(ngModel)]="value.podnikatel.nazev">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <label>
                        <dfn>b) právní forma</dfn>
                        <select name="pravniForma" [(ngModel)]="value.podnikatel.pravniForma">
                            <option [value]="null"></option>
                            <option *ngFor="let item of (data.pravniForma$ | async)" [value]="item.Kod">{{item.Hodnota}}</option>
                        </select>
                    </label>
                </div>
                <div class="col-3">
                    <label>
                        <dfn>c) <abbr title="identifikační číslo osoby">IČO</abbr></dfn>
                        <input type="text" name="ico" valid="ico" [(ngModel)]="value.podnikatel.ico">
                        <invalid-component [control]="form.control.get('podnikatel.ico')"></invalid-component>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" (click)="requestVyberPodnikatele()" [disabled]="!entry.state.completePodnikatel"><i class="fa fa-fw fa-search"></i>Doplnit podnikatele</button>
                </div>
            </div>
</ng-container>
<ng-container ngModelGroup="adresaSidla">
            <div class="row">
                <div class="col-12">
                    <h4>02 Adresa sídla</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>
                        <dfn>a) název ulice</dfn>
                        <input type="text" #inputUlice name="ulice" [(ngModel)]="value.adresaSidla.ulice">
                    </label>
                </div>
                <div class="col-2">
                    <label>
                        <dfn>b) <abbr title="číslo domovní (popisné / evidenční)">č.p. / č.ev.</abbr></dfn>
                        <input type="text" name="cisloDomovni" valid="number" [(ngModel)]="value.adresaSidla.cisloDomovni">
                        <invalid-component [control]="form.control.get('adresaSidla.cisloDomovni')"></invalid-component>
                    </label>
                </div>
                <div class="col-2">
                    <label>
                        <dfn>c) <abbr title="číslo orientační">č. or.</abbr></dfn>
                        <input type="text" name="cisloOrientacni" [valid]="[validCisloOrientacni]" [(ngModel)]="value.adresaSidla.cisloOrientacni">
                        <invalid-component [control]="form.control.get('adresaSidla.cisloOrientacni')"></invalid-component>
                    </label>
                </div>
                <div class="col-2">
                    <label>
                        <dfn>d) <abbr title="poštovní směrovací číslo">PSČ</abbr></dfn>
                        <input type="text" name="psc" valid="psc" [(ngModel)]="value.adresaSidla.psc">
                        <invalid-component [control]="form.control.get('adresaSidla.psc')"></invalid-component>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>
                        <dfn>e) název obce</dfn>
                        <input type="text" name="obec" [(ngModel)]="value.adresaSidla.obec">
                    </label>
                </div>
                <div class="col-6">
                    <label>
                        <dfn>f) část obce</dfn>
                        <input type="text" name="castObce" [(ngModel)]="value.adresaSidla.castObce">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label>
                        <dfn>g) okres</dfn>
                        <select name="okres" [(ngModel)]="value.adresaSidla.okres">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let item of (data.okres$ | async)" [value]="item.Kod">{{item.Hodnota}}</option>
                        </select>
                    </label>
                </div>
                <div class="col-6">
                    <label>
                        <dfn>h) stát</dfn>
                        <select name="stat" [(ngModel)]="value.adresaSidla.stat">
                            <option [ngValue]="null"></option>
                            <option *ngFor="let item of (data.stat$ | async)" [value]="item.Kod">{{item.Hodnota}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" (click)="requestVyberAdresySidla()" [disabled]="!entry.state.completeAdresaSidla"><i class="fa fa-fw fa-search"></i>Doplnit adresu</button>
                    <button type="button" (click)="clearAdresaSidla()" title="Smazání údajů adresy sídla"><i class="fa fa-fw fa-remove"></i>Smazat adresu</button>
                </div>
            </div>
</ng-container>
        </div>
    </form>
</section>

<dialog #panelVyberAdresySidla>
    <form #formVyberAdresySidla="ngForm">
        <header>
            <h3>Výběr adresy sídla</h3>
        </header>
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <select name="adresa" [(ngModel)]="vyberAdresySidla.adresa" size="10">
                        <option *ngFor="let item of vyberAdresySidla.seznamAdres" [ngValue]="item">{{item | postal}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" (click)="applyVyberAdresySidla()" title="Potvrzení výběru"><i class="fa fa-fw fa-check"></i>Potvrdit výběr</button>
                    <button type="button" (click)="closeVyberAdresySidla()" title="Zavření výběru"><i class="fa fa-fw fa-ban"></i>Zavřít výběr</button>
                    <small title="Počet zobrazených odpovídajících adres">{{vyberAdresySidla.seznamAdres | numeric}}</small>
                </div>
            </div>
        </div>
    </form>
</dialog>
