<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Živnosti</h2>
    -->
</header>

<section class="block">
    <form *ngIf="entries$ | async as items">
        <div class="grid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <thead>
                            <tr>
                                <th><abbr title="Číslo">č.</abbr></th>
                                <th width="25%">kód živnosti</th>
                                <th width="75%">předmět podnikání</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items; let index = index;" (dblclick)="select(index)" [class.over]="item.selected">
                                <td class="compact">
                                    <button type="button" (click)="select(index)" title="Vybrat živnost č. {{index + 1}}">{{index + 1}}</button>
                                </td>
                                <td>{{item.zivnost}}</td>
                                <td>{{item.nazev}}</td>
                                <td class="compact">
                                    <button type="button" (click)="remove(index)" title="Odebrat živnost č. {{index + 1}}"><b class="fa fa-fw fa-remove"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <button type="button" (click)="add()" title="Přidat živnost"><i class="fa fa-fw fa-file-o"></i>Nová živnost</button>
                </div>
                <div class="col-2 col-middle right">
                    <output title="Vybraná živnost z celkového počtu živností">{{selectedIndex + 1}} / {{items.length}}</output>
                </div>
            </div>
        </div>
    </form>
</section>

<section>
    <form #form="ngForm">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h4>0<u>5</u> Předmět podnikání</h4>
                    <p>Ve smyslu § 45 resp. § 50 Živnostenského zákona ohlašuji resp. žádám o koncesi pro předmět podnikání.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>a) předmět podnikání</dfn>
                        <textarea rows="3" readonly title="Předmět podnikání">{{(data.zivnost$ | async | filter:{Kod: (zivnost$ | async)} | pluck:'Hodnota') | join:'\n'}}</textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>Druh živnosti</dfn>
                        <select name="druhZivnosti" ngModel #accesskey5>
                            <option value=""></option>
                            <option *ngFor="let item of (data.druhZivnosti$ | async)" [value]="item.Kod">{{item.Hodnota}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>Skupina předmětu podnikání</dfn>
                        <select name="skupinaZivnosti" ngModel [disabled]="!(druhZivnosti$ | async)">
                            <option value=""></option>
                            <option *ngFor="let item of (data.skupinaZivnosti$ | async)" [hidden]="item.Druh != (druhZivnosti$ | async)" [value]="item.Kod">{{item.Hodnota}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>Předmět podnikání</dfn>
                        <select name="zivnost" ngModel [disabled]="!(skupinaZivnosti$ | async)">
                            <option value=""></option>
                            <option *ngFor="let item of (data.zivnost$ | async)" [hidden]="item.Skupina != (skupinaZivnosti$ | async)" [value]="item.Kod">{{item.Hodnota}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </form>
</section>
