<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Živnosti</h2>
    -->
</header>

<section class="block">
    <form>
        <div class="grid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <thead>
                            <tr>
                                <th><abbr title="Číslo">č.</abbr></th>
                                <th width="25%">kód živnosti</th>
                                <th width="75%">předmět podnikání</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="items$ | async as items">
                            <tr *ngFor="let item of items; let index = index;">
                                <td>{{index + 1}}</td>
                                <td>{{item.kod}}</td>
                                <td>{{item.nazev}}</td>
                                <td>
                                    <button type="button" (click)="void" title="Odebrat živnost" class="compact"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <button type="button" (click)="void" title="Přidat živnost"><i class="fa fa-plus"></i> Nová živnost</button>
                </div>
                <div class="col-2 col-middle right">
                    <output title="Vybraná živnost">0 / 0</output>
                </div>
            </div>
        </div>
    </form>
</section>

<section>
    <form #form="ngForm">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h4>0<u>5</u> Předmět podnikání</h4>
                    <p>Ve smyslu § 45 resp. § 50 Živnostenského zákona ohlašuji resp. žádám o koncesi pro předmět podnikání.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>druh živnosti</dfn>
                        <select name="DruhZivnosti" ngModel #accesskey5>
                            <option value=""></option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>a) předmět podnikání</dfn>
                        <select name="PredmetPodnikani" ngModel>
                            <option value=""></option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </form>
</section>
