<header>
    <h2>Změnový list</h2>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
</header>

<section class="block">
    <form>
        <div class="grid">
            <div class="row">
                <div class="col-12">
                    <table>
                        <thead>
                            <tr>
                                <th><abbr title="Číslo">č.</abbr></th>
                                <th width="100%">změnový list</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="items$ | async as items">
                            <tr *ngFor="let item of items; let index = index;">
                                <td>{{index + 1}}</td>
                                <td>{{item}}</td>
                                <td>
                                    <button type="button" (click)="void" title="Odebrat změnový list" class="compact"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <button type="button" (click)="void" title="Přidat změnový list"><i class="fa fa-plus"></i> Nový list</button>
                </div>
                <div class="col-2 col-middle right">
                    <output title="Vybraný změnový list">0 / 0</output>
                </div>
            </div>
        </div>
    </form>
</section>

<section>
    <form #form="ngForm">
        <div class="grid">
            <div class="row">
                <div class="col-12">
                    <h3>Změnový list</h3>
                    <p>Oznamuji živnostenskému úřadu ve smyslu živnostenského zákona následující skutečnosti.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
        </div>
    </form>
</section>
