<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Změnové listy</h2>
    -->
</header>

<section class="block">
    <form *ngIf="content.entries$ | async as items">
        <div class="grid gutterless">
            <div class="row bar">
                <div class="col-12">
                    <button type="button" (click)="create()" title="Přidání nového změnového listu (Alt-N)"><i class="fa fa-fw fa-plus"></i>Přidat list</button>
                    <button type="button" (click)="content.previous()" title="Předchozí změnový list (Ctrl-Up)"><b class="fa fa-fw fa-chevron-up"></b></button>
                    <button type="button" (click)="content.toggle()" title="Zobrazení seznamu změnových listů (Alt-L)">
                        <output *ngIf="content.index > -1">{{content.index + 1}}/</output><output>{{items.length}}</output>
                    </button>
                    <button type="button" (click)="content.next()" title="Následující změnový list (Ctrl-Down)"><b class="fa fa-fw fa-chevron-down"></b></button>
                    <button type="button" (click)="remove(content.index)" title="Odebrání změnového listu (Alt-R)"><i class="fa fa-fw fa-remove"></i>Odebrat list</button>
                    <button type="button" (click)="save()" title="Zápis údajů změnového listu (Alt-S)"><i class="fa fa-fw fa-check"></i>Zapsat údaje</button>
                    <output [hidden]="!dirty" title="Neuložené údaje"><b class="fa fa-fw fa-asterisk"></b></output>
                </div>
            </div>
            <div class="row gutterless" [hidden]="content.hidden">
                <div class="col-12">
                    <table>
                        <thead>
                            <tr>
                                <th><abbr title="Číslo">č.</abbr></th>
                                <th width="100%">změnový list</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items; let index = index;" (dblclick)="select(index)" [class.over]="content.index === index">
                                <td class="compact">
                                    <button type="button" (click)="select(index)" title="Výběr změnového listu a obnovení údajů">{{index + 1}}</button>
                                </td>
                                <td>{{item.zmenovyList}}</td>
                                <td class="compact">
                                    <button type="button" (click)="remove(index)" title="Odebrání změnového listu"><b class="fa fa-remove"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</section>

<section>
    <form #form="ngForm">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h3>Změnový list</h3>
                    <p>Oznamuji živnostenskému úřadu ve smyslu živnostenského zákona následující skutečnosti.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>01 Předměty podnikání, kterých se změna týká (u živnosti volné čísla oborů)</dfn>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="readonly">
                        <thead>
                            <tr>
                                <th width="25%"><abbr title="Kód živnosti">kód</abbr> / <abbr title="Číslo oboru činnosti">č. oboru</abbr></th>
                                <th width="75%">předmět podnikání / obor činnosti</th>
                                <th class="compact">
                                    <button type="button" (click)="zivnostiAdd()" title="Výběr živností nebo oborů činnosti"><b class="fa fa-bars"></b></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="compact">
                                    <button type="button" (click)="zivnostiRemove(item.index)" title="Zrušení vybrané živnosti"><b class="fa fa-minus"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>02 Původní údaj</dfn>
                        <textarea name="puvodniUdaj" ngModel></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>
                        <dfn>03 Nový údaj (je-li pro uvedení nového údaje samostatná kolonka, uveďte údaj tam)</dfn>
                        <textarea name="novyUdaj" ngModel></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
        </div>
    </form>
</section>
<pre>{{content.entry | json}}</pre>
