<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Změnové listy</h2>
    -->
</header>

<content-toolbar-component [content]="content" [header]="thead" [body]="tbody" list
    selectTitle="Výběr změnového listu"
    previousTitle="Předchozí změnový list"
    nextTitle="Následující změnový list"
    addTitle="Přidání nového změnového listu"
    addLabel="Přidat list"
    removeTitle="Smazání změnového listu"
    removeLabel="Smazat list"
></content-toolbar-component>
<ng-template #thead>
    <th width="100%">přehled údajů</th>
</ng-template>
<ng-template #tbody let-item>
    <td>{{item.state.udaje}}</td>
</ng-template>

<section *ngIf="content.entry as entry">
    <form #form="ngForm" *ngIf="entry.value as value">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h3>Změnový list</h3>
                    <p>Oznamuji živnostenskému úřadu ve smyslu živnostenského zákona následující skutečnosti.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>
                        01 Předměty podnikání, kterých se změna týká
                        <small>(u živnosti volné čísla oborů)</small>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="readonly">
                        <thead>
                            <tr>
                                <th width="25%"><abbr title="Kód živnosti">kód</abbr></th>
                                <th width="75%">předmět podnikání</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i = index; let item of entry.zivnost; trackBy: trackZivnost">
                                <td>{{item.Kod}}</td>
                                <td>{{item.Hodnota}}</td>
                                <td class="compact">
                                    <button type="button" (click)="removeZivnost(i)" title="Smazání živnosti z výběru"><b class="fa fa-remove"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" (click)="openVyberZivnosti()" title="Výběr živností, případně oborů činnosti"><i class="fa fa-bars"></i>Vybrat živnosti</button>
                    <small title="Počet vybraných živností">{{entry.zivnost | numeric}}</small>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>02 Původní údaj</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea #inputPuvodniUdaj name="puvodniUdaj" [(ngModel)]="value.puvodniUdaj"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>
                        03 Nový údaj
                        <small>(je-li pro uvedení nového údaje samostatná kolonka, uveďte údaj tam)</small>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea #inputNovyUdaj name="novyUdaj" [(ngModel)]="value.novyUdaj"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
        </div>
    </form>
</section>

<dialog #panelVyberZivnosti>
    <form #formVyberZivnosti="ngForm">
        <header>
            <h3>
                Výběr předmětů podnikání
                <small>(max. 3 v rámci změnového listu)</small>
            </h3>
        </header>
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <select multiple name="zivnost" [(ngModel)]="vyberZivnosti.zivnost" size="10">
                        <option *ngFor="let item of vyberZivnosti.seznamZivnosti" [ngValue]="item">{{item?.Hodnota}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="button" (click)="applyVyberZivnosti()" title="Potvrzení výběru"><i class="fa fa-fw fa-check"></i>Potvrdit výběr</button>
                    <button type="button" (click)="closeVyberZivnosti()" title="Zavření výběru"><i class="fa fa-fw fa-ban"></i>Zavřít výběr</button>
                    <small title="Počet vybraných a celkový počet živností">{{vyberZivnosti.zivnost | numeric}}/{{vyberZivnosti.seznamZivnosti | numeric}}</small>
                </div>
            </div>
        </div>
    </form>
</dialog>
