<header>
    <app-menu-component></app-menu-component>
    <menu-component></menu-component>
    <!--
    <h2>Změnové listy</h2>
    -->
</header>

<content-toolbar-component [content]="content" [header]="thead" [body]="tbody"
    selectTitle="Výběr změnového listu"
    toggleTitle="Zobrazení seznamu změnových listů"
    previousTitle="Předchozí změnový list"
    nextTitle="Následující změnový list"
    addTitle="Přidání nového změnového listu"
    addLabel="Přidat list"
    removeTitle="Smazání změnového listu"
    removeLabel="Smazat list"
></content-toolbar-component>
<ng-template #thead>
    <th width="100%">změnový list</th>
</ng-template>
<ng-template #tbody let-item>
    <td>{{item.zmenovyList}}</td>
</ng-template>

<section>
    <form #form="ngForm">
        <div class="grid gutterless">
            <div class="row">
                <div class="col-12">
                    <h3>Změnový list</h3>
                    <p>Oznamuji živnostenskému úřadu ve smyslu živnostenského zákona následující skutečnosti.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>
                        01 Předměty podnikání, kterých se změna týká
                        <small>(u živnosti volné čísla oborů)</small>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="readonly">
                        <thead>
                            <tr>
                                <th width="25%"><abbr title="Kód živnosti">kód</abbr> / <abbr title="Číslo oboru činnosti">č. oboru</abbr></th>
                                <th width="75%">předmět podnikání / obor činnosti</th>
                                <th class="compact">
                                    <button type="button" title="Výběr živností nebo oborů činnosti"><b class="fa fa-bars"></b></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="compact">
                                    <button type="button" title="Odebrání vybrané živnosti"><b class="fa fa-minus"></b></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>02 Původní údaj</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea name="puvodniUdaj" #input.puvodniUdaj ngModel></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>
                        03 Nový údaj
                        <small>(je-li pro uvedení nového údaje samostatná kolonka, uveďte údaj tam)</small>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <textarea name="novyUdaj" #input.novyUdaj ngModel></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    ...
                </div>
            </div>
        </div>
    </form>
</section>

<pre>
{{content.dirty}}
{{content.entry | json}}
</pre>
